<div class='container'>
  <div class='row'>
      <div class='col-md-12'>
        <img src='img/diabetes.jpg' class='float-left col-sm-3 col-md-4 pretty-img' alt='diabetes' />
        <h1>Diabetic Patient Care</h1>
      
        <p>
          If you have diabetes, then you are probably well aware of the dangers of the disease and the necessity to be all the more watchful for your health.  After all, a small problem in a diabetic patient can quickly turn into a serious one that could even land them in the hospital without proper monitoring and preventative care.  Most of the time, diabetic patients face risks because of the nerve damage  (neuropathy) and poor circulation that their condition can cause. The numbness caused by neuropathy can lead to a patient being unaware of a tiny problem like a cut or a blister because they can’t feel it, which leaves them vulnerable to infection and further complications.  Poor circulation will make healing and resisting infection more difficult for a diabetic patient, as well, which means that recovery from wounds and infections can be more difficult for their bodies. Many of our patients have diabetes and we work to keep their vulnerable feet happy and healthy.
        </p>
       
    </div>
  </div>  
  <div class='row'>    
    <div class='col-md-12'> 
      <h2>Comprehensive Foot Exams</h2>
      <p>
        Diabetes is a condition where an ounce of prevention is worth ten pounds of a cure.  We perform comprehensive foot exams to catch complications early, such as looking out for skin conditions caused or worsened by diabetic neuropathy.  We design a footcare plan for each of our diabetic patients, who each have unique risk factors.
      </p>
      
      <h2>Custom-Made Orthotics</h2>
      <p>
        Diabetic patients who have nerve damage in their feet must be extra careful not to develop scratches, blisters, or sores on their skin.  We fit diabetic patients with custom-made orthotics, or shoe inserts, that they can place in different shoes so that they can continue to safely wear the footwear that they enjoy. Orthotics also help diabetic patients relieve pressure from their feet.
      </p>
    </div>
  </div>
</div>