<div class='container'>
<div class='row'>
  <div class='col-md-12'>
    <h1>Our Doctors</h1>
    <p>
      Doctors Stephanie and Marcus Frey have been operating Patriot Podiatry since 2014.  While many doctors come from older schools of thought and practice, The Doctors Frey stand out among Florida podiatrists thanks to the more modern nature of their education,  the broader scope of their training, and their comprehensive list of qualifications. 
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <h2>Dr. Stephanie Frey</h2>
    <img src='img/dr_stephanie_frey_podiatrist.jpg' alt='Dr. Stephanie Frey' class='float-left col-sm-6 col-md-4 pretty-img'/>
    <p>
      Dr. Stephanie Frey graduated from the University of Florida with a bachelor&rsquo;s degree in Psychology in 2005 and earned her Doctorate in Podiatric Medicine from Barry University in 2010.  Dr. Frey completed her 3 year Podiatric medicine and surgical  residency at Mineral Area Regional Medical Center in Farmington, Missouri. She has been in private practice since 2013.  She specializes in podiatric medicine and has provided extensive medical care to patients of all ages, including patients with diabetes and rheumatoid arthritis.  Dr. Frey has years of experience in wound care, fracture care, ligament and tendon repair, nail avulsion, nail excision, arthroscopy, and treating plantar fasciitis. 
    </p>
    </div>  
  <div class='col-md-6'>
    <h2>Dr. Marcus Frey</h2>
    <div>
    <img src='img/dr_marcus_frey_podiatrist.jpg' alt='Dr. Marcus Frey' class='float-left col-sm-6 col-md-4 pretty-img'/>
    <p>
      Dr. Marcus Frey graduated from Wayne State University in 2005 with a bachelor&rsquo;s degree in Biochemistry, having earned his college degrees after spending some years as a paramedic and firefighter.  Like Stephanie, Marcus completed his 3 year residency in Podiatric medicine and surgery at Mineral Area Regional Medical Center in Farmington, Missouri. He works for Team Health and provides care in post acute facilities in addition to his work for Patriot Podiatry.
    </p>
    </div>
  </div>    
  <p>
    Together, the Doctors Frey serve the Ocala and Lady Lake areas with their extensive clinical and surgical expertise. You can <a href='https://www.patientfusion.com/doctor/stephanie-frey-dpm-62219'>book an apointment with Stephanie</a> or <a href='https://www.patientfusion.com/doctor/marcus-frey-dpm-52672'>book an apointment with Marcus</a> online at any time!
  </p>
  </div>
</div>