<!DOCTYPE html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>{{title}} - Patriot Podiatry</title>
  <meta name = "keywords" content = "{{keywords}}" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id='maincontainer' style='width:100%'>
    <div id='mybody'>
      <div class='container'>
        <header>
          <nav class="navbar navbar-expand-lg">
            <a class='navbar-brand' href='home'><img src='img/masthead.jpg' style='width:225px'/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
               
                <li class="nav-item">
                  <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="doctors">Our Doctors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav> 
        </header>
      </div>
<div id='homepage-splash'>
  <div class='container'>
    <div class='row' >
      <div class='col-md-6'>
      </div>
      <div class='col-md-6'>
        <h1>Foot And Ankle Specialists</h1>
        <p>Family-friendly podiatrists for all your foot and ankle needs, caring for diabetic patients, arthritic patients, children, athletes, and everyone in between.</p>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div id='prefold' class='container-fluid'>
    <div  class='row'>
      <div class='col-md-6'>
        <h2>Family-friendly Podiatrists</h2>
        <p>
        &ldquo;The Doctors Frey (both of them) are a pleasure to deal with, are very caring, and are very skilled in their field .... Great doctors and very good people!&rdquo;
        <a href='https://www.facebook.com/pg/Patriotpodiatry/reviews/'>See what more of our patients have to say</a>
        </p>
      </div>
      <div class='col-md-6'>
      
        <div class='media'>
          <div class='media-left media-middle'>
            <img src='img/diabetic_patient_care.jpg' class='media-object service-icon' />
          </div>
          <div class='media-body'>
            <h2 class='media-heading'>Diabetic Patient Care</h2>
            <p>Many of our patients have diabetes and we work to keep their vulnerable feet happy and healthy. <a href='diabetic_patient_care'>Learn more</a></p>
          </div>
        </div>
        
         <div class='media'>
          <div class='media-left media-middle'>
            <img src='img/podiatric_surgery.jpg' class='media-object service-icon' />
          </div>
          <div class='media-body'>
            <h2 class='media-heading'>Surgery</h2>
            <p>Patriot Podiatry performs surgery to treat a comprehensive list of conditions and foot traumas. <a href='surgery'>Learn more</a></p>
          </div>
        </div>
        
         <div class='media'>
          <div class='media-left media-middle'>
            <img src='img/sprains_and_fractures.jpg' class='media-object service-icon' />
          </div>
          <div class='media-body'>
            <h2 class='media-heading'>Sprains &amp; Fractures</h2>
            <p> Patriot Podiatry regularly treats fractures and sprains and is ready and willing to serve you. <a href='sprains_and_fractures'>Learn more</a></p>
          </div>
        </div>
          
      </div>
    </div>
  </div> 
</div>
</div>
      <footer id='mainfooter'>
        <div class='container'>
          <p>
            Ladybird Lake Office: 510 CR 466 Suite 105, Lady Lake, FL 32159 - Phone: 352 351 1555 - Fax: 352 351 1330
          </p>
          <p>
            Ocala Office: 1500 SE Magnolia Extension Suite 201, Ocala FL 34471 - Phone: 352 351 1555 - Fax: 352 351 1330
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>