<div class='container'>
  <h1>Services</h1>
  <div class='row'>
    <div class='col-md-6'>
    <h2>Appointments</h2>
      <p>
        We take patients of any age, from tiny babies to the very elderly.  We treat patients of any lifestyle, from the hard-and-fast athletes with sports injury concerns to arthritic and diabetic patients looking to enhance their mobility.
      </p>
      
      <p>
        You can <a href='https://www.patientfusion.com/doctor/stephanie-frey-dpm-62219'>book an apointment with Stephanie</a> or <a href='https://www.patientfusion.com/doctor/marcus-frey-dpm-52672'>book an apointment with Marcus</a> online at any time!
      </p>
    </div>
    <div class='col-md-6'>
    <h2>Insurance Information</h2>
      <p>We accept Medicare, most PPOs, and are in-network with most commercial insurance plans.  Please contact your insurance company to verify your level of coverage.</p>
    </div>
  </div>
  
  <div class='row'>
    <div class='col-sm-6 col-md-4'>
      <h2>Diabetic &amp; Arthritic Patients</h2>
      <p>
        Many of our patients have diabetes or rheumatoid arthritis. If you are suffering from foot problems arising from either condition, we are more than happy to treat the unique needs of <a href='diabetic_patient_care'>diabetic patients</a> and we provide <a href='surgery'>surgeries for diagnosing and treating arthritis</a>.
      </p>
    </div>
    
    <div class='col-sm-6 col-md-4'>
      <h2>Bunions &amp; Ingrown Toenails</h2>
      <p>
        We perform bunionectomies and nail excisions and avulsions in order to relieve patients from pain and discomfort from bunions and ingrown toenails.  You can read our Surgery information to learn more about <a href='surgery'>bunionectomy and nail avulsion</a>.
      </p>
    </div>
    
    <div class='col-md-4'>
      <h2>Wound Care</h2>
      <p>
        We are board certified for wound care! From fixing up a sprained foot to reconstructing torn ligaments through surgery, we provide a range of <a href='surgery'>surgical procedures</a> and treatment for <a href='sprains_and_fractures'>sprains and fractures</a>.  If your problem is from the knee down, we&rsquo;ve got you covered.
      </p>
    </div>
  </div>
</div>