<!DOCTYPE html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>{{title}} - Patriot Podiatry</title>
  <meta name = "keywords" content = "{{keywords}}" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id='maincontainer' style='width:100%'>
    <div id='mybody'>
      <div class='container'>
        <header>
          <nav class="navbar navbar-expand-lg">
            <a class='navbar-brand' href='home'><img src='img/masthead.jpg' style='width:225px'/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
               
                <li class="nav-item">
                  <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="doctors">Our Doctors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav> 
        </header>
      </div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <img src='img/ankle_brace.jpg' class='float-left col-sm-3 col-md-4 pretty-img' alt='An ankle brace' />
       <h1>Sprains And Fractures</h1>
      <p>
        If you have experienced foot trauma and need care, or would like professional follow-up from previous care from a different doctor, Patriot Podiatry regularly treats fractures AND sprains and is ready and willing to serve you.  We see fractures and injuries in patients of all ages and lifestyles, like children with ankle fractures from rough play and accidents, adolescents and adults suffering from sports injuries, or diabetic and arthritic patients who are prone to fractures due to their conditions.  Without proper treatment, a sprained ankle or fractured foot will manifest symptoms like chronic pain or instability that can make you vulnerable to an additional injury such as a dislocation or hyperextension of your joint.
      </p>
      <p>
        We utilize X-rays and ultrasounds (both in office) and order CAT scans or MRIs in order to diagnose the extent of your injury if it is a fracture.  We diagnose sprains with a physical examination of your levels and areas of pain and tenderness. We can determine the severity of your injury and design a proper plan of wound care to help you spring back onto the football field, the basketball court, the playground, or just back to your normal life!  In many cases, a cast, brace, or splint will end up being sufficient to protect and support your foot and ankle as it heals to allow it to mend properly, but we also offer <a href='surgery'>surgery</a> to repair ligaments and tendons (such as ruptured achilles tendons) and stabilize fractures.  The specific course of treatment will depend on your injury.
      </p>
      
      <h2>Insurance Information</h2>
      <p>
        We accept Medicare and are in network with most commercial insurance plans.
      </p>           
    </div>
  </div> 
</div>
</div>
      <footer id='mainfooter'>
        <div class='container'>
          <p>
            Ladybird Lake Office: 510 CR 466 Suite 105, Lady Lake, FL 32159 - Phone: 352 351 1555 - Fax: 352 351 1330
          </p>
          <p>
            Ocala Office: 1500 SE Magnolia Extension Suite 201, Ocala FL 34471 - Phone: 352 351 1555 - Fax: 352 351 1330
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>