<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <img src='img/surgery-dr-marc.jpg' class='float-left col-sm-3 col-md-4 pretty-img' alt='Hello from Dr. Frey!' />
      <h1>Surgery</h1>
      <p>
        Patriot Podiatry performs surgery to treat a comprehensive list of conditions and foot traumas. If you are here because you might need surgery, we will be more than happy to consult with you, explain your surgical and nonsurgical treatment options, risk factors, the recovery process, and what these subjects will mean for you in terms of getting your life back on track and returning to the activities you enjoy.   
      </p>
      
      <h2>Surgery And Your Insurance</h2>
      <p>
        We accept Medicare and are in network with most commercial insurance plans.
      </p>
      
    </div>
  </div>  
  <div class='row'>    
    <div class='col-md-12'> 
      <h2>Surgeries We Provide</h2>
                   
      <h3>Nail Avulsion And Excision (Ingrown Toenail Removal)</h3>
      <p>
        Many people suffer from ingrown toenails thanks to issues like poorly-fitting footwear, trimming their nails incorrectly, or having a health condition that leads to the nail growing improperly. Ingrown toenails cause pain and discomfort that can make walking or standing for long periods of time uncomfortable or difficult.  This condition is easily treated by a surgical procedure which involves removal of all or part of the nail in question. 
      </p>
      <h3>Bunionectomy</h3>
      <p>
        If there’s a painful lump on the side of your big toe, you might have a bunion, which is a very common problem that is usually caused by wearing the wrong type of footwear.  For example, women who wear tight, pointed shoes and high heels can be particularly prone to getting a bunion.   Most of the time, a bunion can be managed through conservative treatment options that don&rsquo;t involve surgery, like improved footwear and orthotic devices, however if your bunion is getting in the way of your daily activities, then it may be time for surgery. A bunionectomy is the surgery to correct a bunion, which involves correcting the displaced bone that causes the condition and relieving the soft tissue of any deformities that might have occurred in your foot.  
      </p>
      <h3>Hammertoe Repair</h3>
      <p>
        Hammertoe is a condition that deforms the joints of your toe so that they're kept in a bent position that resembles a hammer. This can lead to corns and callouses thanks to the new shape of the toe rubbing uncomfortably against your shoes. Much of the time, people with hammertoes can use non-surgical treatment options to manage their symptoms such as shoe inserts, but sometimes corrective surgery is necessary to relieve a patient from the pain and discomfort the condition can cause. There are different surgical approaches to fixing hammertoe depending on the stiffness and severity of an individual's condition.  Hammertoe repair is typically an outpatient procedure, meaning you can go home the same day as the surgery, and can be performed with local anasthesia.
      </p>
      <h3>Ankle Arthroscopy</h3>
      <p>
        If you have ankle problems, ankle arthroscopy is a form of surgery that uses a thin, fiber-optic camera called an arthroscope in order to diagnose different conditions of the foot.  This is a method that we use to diagnose things like impingement (footballer’s ankle), arthofibrosis (scar tissue in the ankle), and synovitis (a condition caused by inflamed soft tissue).  We also use arthroscopy to appraise the extent of damage in your foot due to fractures or damaged ligaments and tendons and to uncover the nature of unexplained conditions.  Arthroscopy is a very minimally invasive procedure. 
      </p>
      <h3>Ligament And Tendon Repair And Reconstruction</h3>
      <p>
        Tendons attach your muscles to bones and ligaments attach bones to each other to support a joint.  Both of them can get torn or stretched, such as in an injury.  When this happens, you lose stability in the joint because the structure that holds it together is damaged.  Typically, damaged tendons and ligaments may be treated without surgery unless they are severely damaged.  We will consult with you if this particular surgery is right for your condition or if a less invasive option is more appropriate for you. 
      </p>
    </div>
  </div>
</div>